# Proyek Analisis Data: [Input Nama Dataset]
- **Nama:** [Awi Yunawan Putra]
- **Email:** [awiyunawan@putra]
- **ID Dicoding:** [awiyunawan]

## Menentukan Pertanyaan Bisnis

- Apakah ada perbedaan jumlah pengguna sepeda (casual dan registered) pada hari kerja
- Bagaimana pengaruh kondisi cuaca terhadap jumlah pengguna sepeda (casual dan registered) setiap jamnya?

## Import Semua Packages/Library yang Digunakan

In [1]:
import numpy as np
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

## Data Wrangling

### Gathering Data

In [2]:
day_df = pd.read_csv('data/day.csv')
day_df.head()

,instant,dteday,season,yr,mnth,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,6,0,2,0.344167,0.363625,0.805833,0.160446,331,654,985
1,2,2011-01-02,1,0,1,0,0,0,2,0.363478,0.353739,0.696087,0.248539,131,670,801
2,3,2011-01-03,1,0,1,0,1,1,1,0.196364,0.189405,0.437273,0.248309,120,1229,1349
3,4,2011-01-04,1,0,1,0,2,1,1,0.200000,0.212122,0.590435,0.160296,108,1454,1562
4,5,2011-01-05,1,0,1,0,3,1,1,0.226957,0.229270,0.436957,0.186900,82,1518,1600

In [3]:
hour_df = pd.read_csv('data/hour.csv')
hour_df.head()

,instant,dteday,season,yr,mnth,hr,holiday,weekday,workingday,weathersit,temp,atemp,hum,windspeed,casual,registered,cnt
0,1,2011-01-01,1,0,1,0,0,6,0,1,0.24,0.2879,0.81,0.0,3,13,16
1,2,2011-01-01,1,0,1,1,0,6,0,1,0.22,0.2727,0.80,0.0,8,32,40
2,3,2011-01-01,1,0,1,2,0,6,0,1,0.22,0.2727,0.80,0.0,5,27,32
3,4,2011-01-01,1,0,1,3,0,6,0,1,0.24,0.2879,0.75,0.0,3,10,13
4,5,2011-01-01,1,0,1,4,0,6,0,1,0.24,0.2879,0.75,0.0,0,1,1

**Insight:**
- Dataset `day_df` berisi data penggunaan sepeda harian dengan 731 baris dan 16 kolom.
- Dataset `hour_df` berisi data penggunaan sepeda per jam dengan 17379 baris dan 17 kolom.
- Kedua dataset memiliki kolom yang mencakup informasi tentang tanggal, musim, tahun, bulan, hari libur, hari kerja, kondisi cuaca, suhu, kelembaban, kecepatan angin, dan jumlah pengguna sepeda (casual dan registered).
- Dataset `day_df` memiliki kolom tambahan `workingday` yang menunjukkan apakah hari tersebut adalah hari kerja atau bukan.
- Dataset `hour_df` memiliki kolom tambahan `hr` yang menunjukkan jam dalam sehari.

### Assessing Data

In [1]:
# Mengecek informasi umum dari kedua dataset
print("Informasi dataset day_df:")
day_df.info()
print("\nInformasi dataset hour_df:")
hour_df.info()

# Mengecek jumlah duplikasi pada kedua dataset
print("\nJumlah duplikasi pada dataset day_df: ", day_df.duplicated().sum())
print("Jumlah duplikasi pada dataset hour_df: ", hour_df.duplicated().sum())

# Mengecek jumlah nilai yang hilang pada kedua dataset
print("\nJumlah nilai yang hilang pada dataset day_df:\n", day_df.isna().sum())
print("Jumlah nilai yang hilang pada dataset hour_df:\n", hour_df.isna().sum())

Informasi dataset day_df:

NameError: name 'day_df' is not defined

**Insight:**
- xxx
- xxx

### Cleaning Data

**Insight:**
- xxx
- xxx

## Exploratory Data Analysis (EDA)

### Explore ...

**Insight:**
- xxx
- xxx

## Visualization & Explanatory Analysis

### Pertanyaan 1:

### Pertanyaan 2:

**Insight:**
- xxx
- xxx

## Analisis Lanjutan (Opsional)

## Conclusion

- Conclution pertanyaan 1
- Conclution pertanyaan 2